.asistentes-invitar-04
    li
        margin-top: 11px
        margin-bottom: 15px
        &::after,.item-inner::after
            content: none
    .item-title
        font: $Body-1
        color: $blue
.asistentes-offices
    .offices
        margin-top: 30px