.btn-simple
    text-align: center
    color: $light-blue
    height: 40px
    font: $Body-1
.btn-rounded
    width: auto
    height: 40px
    color: $white
    background: $turquoise-3
    box-shadow: -2px 2px 15px rgba(16, 43, 200, 0.2)
    border-radius: 20px
    display: flex
    align-items: center
    justify-content: flex-end
    p
        font: $Body-1
    &.grey
        filter: saturate(0)
    &.white
        color: $light-blue
        background: $white
.btn-back
    color: $white
    i
        font-size: 34px
.btn-fab
    --f7-fab-size: 48px
    i
        color: #2F80ED
        font-size: 38px

.container
    flex-grow: 1
    display: flex
    align-items: center
    justify-content: center
    &.right
        justify-content: flex-end
        padding-right: 25px 
    &.bottom
        align-items: flex-end
        margin-bottom: 25px
    .btn-2
        a
            display: flex
            align-items: center
            background: #2FCFBC
            border-radius: 20px
            color: white
            padding-left: 25px
            padding-right: 15px
            p
                font: $Body-1
                line-height: 24px
                font-weight: 900
                font-size: 18px
                margin-top: 11px
                margin-bottom: 11px
            i
                font-size: 30px
                &.white
                    color: $white
            &.grey
                filter: saturate(0)
        &.woi
            a
                padding-right: 25px
    &.two
        justify-content: space-around