.card
    width: 100%
    box-shadow: -2px 2px 15px rgba(16, 43, 200, 0.2)
    --f7-card-border-radius: 10px
    --f7-card-margin-horizontal: 20px
    --f7-card-margin-vertical: 10px
    --f7-card-content-padding-horizontal: 19%
    --f7-card-content-padding-vertical: 3%
    p
        margin-block-start: 3px
        margin-block-end: 3px
    .rectangle
        position: absolute
        width: 5%
        height: 100%
        border-top-left-radius: 10px
        border-bottom-left-radius: 10px
        &.turquoise
            background: $turquoise-2
        &.light-blue
            background: $light-blue
        &.yellow
            background: $yellow
        &.yellow-2
            background: $yellow-2
        &.red
            background: $red
    .dynamic-popover,.permissions-link
        position: absolute
        top: 10px
        right: 10px
        display: block
    &.home
        width: auto
        margin-right: 10px
        &.appointments
            height: 190px
        &.payments
            height: 160px
            .cash
                font: normal 24px/100% 'Nunito'
                color: #27AE60
        .card-content-padding
            padding-left: 12%
            padding-right: 12%
        p
            &.text
                font: $text-1-card
            &.text2
                font: $text-2-card
            &.title
                font: $title-card

        .footer
            position: fixed
            bottom: 20px
            display: flex
            align-items: center
            width: fit-content
            i
                font-size: 20px
            p
                font: $footer-card
    &.offices
        p
            &.text
                font: $text-1-card
            &.title
                font: $title-card
            &.footer
                font: $footer-card
        i
            font-size: 30px
            &.icon
                position: absolute
                top: 7%
                left: 8%
    &.assistant-offices
        p
            font: $title-2 !important
            font-weight: normal !important
            margin-top: 4px
            margin-bottom: 4px
        i
            font-size: 30px
            &.next
                position: absolute
                font-size: 35px
                right: 2%
            &.icon
                position: absolute
                top: 22%
                left: 7%
    &.asistentes
        .dynamic-popover
            line-height: 56px
            i
                font-size: 30px
                &.icon
                    position: absolute
                    top: 7%
                    left: 8%
        p
            font: $title-2 !important
            font-weight: normal !important
            margin-top: 4px
            margin-bottom: 4px
        .card-content-padding
            padding-left: 85px
            padding-right: 5%
        .avatar
            height: 45px
            float: left
            position: absolute
            left: 7.5%
            top: 10%
            img
                width: 45px
                height: 45px
                border-radius: 50%
                box-shadow: 0px 1.89189px 14.1892px rgba(16, 43, 200, 0.2)
    &.settings
        height: auto
        p
            font: $text-1-card
            line-height: 28px
            text-align: left
        .icon,.arrow
            font-size: 25px
            position: absolute
            top: 50%
            transform: translate(-50%, -50%)
        .icon
            left: 13%
        .arrow
            right: 0%

    &.card-expandable
        height: 120px
        .card-content
            width: 100%
        .card-header
            padding-left: 7%
            padding-right: 7%
            padding-top: 3%
            padding-bottom: 3%
            .details-event
                height: 220px
                width: 100%
                position: absolute
                top: 0px
                left: 0px
                padding: 0px
                ul
                    top: 0px
                    position: absolute
                    padding: 7% 7% 3% 7%
                    width: 90%
                i
                    font-size: 29px
                p
                    font: $title-2
                    font-weight: 600
                    opacity: 1
                .contact
                    --f7-fab-size: 37px
                    i
                        color: $light-blue
                        font-size: 23px
                    &.comment
                    &.email
                        left: 45px
                    &.phone
                        left: 90px
                .stars
                    display: inline-flex
                    position: absolute
                    left: 45%
                    i
                        line-height: 50px
                        font-size: 25px
                        color: #FFD66D
                    p
                        line-height: 50px
                        font-size: 16px
                .item-inner
                    margin-left: 72px
                    &::after
                        content: none
                .photo
                    --f7-fab-size: 72px
                    bottom: 13%
                    i
                        font-size: 35px
                        color: $light-blue
                .mar
                    margin-top: 36px
            p
                margin-block-start: 2px
                margin-block-end: 2px
                text-align: left !important
                &.title
                    font: $title-card
                &.text-1
                    font: $text-1-card
                    font-weight: 300
                &.text-2
                    font: $text-2-card
                &.footer
                    font: $footer-card
        i
            &.time
                font-size: 16px
                color: $light-blue
                position: inherit
                vertical-align: middle
            &.chevron
                font-size: 30px
                position: absolute
                right: 15px
                top: 45px
                left: unset
                color: #102BC8
        .card-content-padding
            position: relative
            height: calc( 100% - 320px)
            &.list
                padding-top: 35px
                padding-left: 0px
                padding-right: 0px
                padding-bottom: 35px
                h1
                    margin-block-start: 2px
                    margin-block-end: 2px
                    &.title
                        font: $title-2
                    &.price
                        font: $title-2
                p
                    &.time
                        text-align: left
                        font: $Body-2
                    &.place
                        font: $text-2-card
                ul
                    padding-left: 35px
                    padding-right: 35px
                    i
                        &.time
                            font-size: 18px
                .item-link
                    padding-right: 16px
                    width: 55%
            .btn-rounded
                position: absolute
                right: 25px
                bottom: 15px
                p
                    opacity: 1
    &.doc-horarios
        display: flex
        width: auto
        &.inactive
            filter: saturate(0) opacity(0.6)
        .material-icons
            padding-left: calc( 5% + 10px )
            padding-right: 15px
            padding-top: 10px
            font-size: 30px
            &.light-blue
                color: $light-blue
            &.red
                color: $red
            &.yellow
                color: $yellow
            &.turquoise
                color: $turquoise-2
        .card-content-padding
            width: 100%
            padding: 9px 0px 9px 0px
            .asist,.place
                display: flex
                font: $text-2-card
                text-align: left
                margin: auto
                color: $grey
            p
                color: $dark_blue
                font: $Body-2
                font-weight: bold
                margin-right: auto
                margin-bottom: 0px
                &.light-blue
                    color: $light-blue
                &.red
                    color: $red
                &.turquoise
                    color: $turquoise-2
                &.text
                    font-weight: normal
                    line-height: 20px
                    color: $grey
                    margin-top: 0px
            hr
                margin: 0px !important
                border: 0.8px solid #E5E9F2 !important
        .points
            color: $dark_blue
            padding: 10px 10px 0px 15px
            height: fit-content
        a
            height: fit-content
    &.doc-horarios.add
        align-items: center
        .material-icons
            padding-top: 0px
    &.doc-horarios.days
        flex-direction: column
        .card-header
            font: $text-2-card
            font-weight: bold
            min-height: unset
            color: $dark-blue
            padding: 5px 5px 0px 10px
            margin-left: 5%
            a
                display: flex
                justify-content: center
                align-items: center
                i
                    padding: 0px 5px 0px 5px
            &::after
                content: none
        .card-content
            width: auto
            margin-left: 5%
            padding-left: 10px
            padding-right: 5px
            padding-top: 0px
            margin-right: 5%
            .resume p
                font: $Body-2
                color: #3C4858
            .accordion-item-content
                .state p
                    font: $Body-2
                    font-weight: normal
                    color: #3C4858
                    margin-bottom: 10px
                    margin-top: 10px
                .list
                    border-top: 0.8px solid #E5E9F2
                    li
                        border-bottom: 0.8px solid #E5E9F2
                        align-items: center
                        i
                            font-size: 20px
                            padding: 10px 0px 10px 0px
                        p
                            width: auto
                            margin-left: 15px
                            font: $title-2
                            font-weight: normal
                            color: #3C4858
                .new_horario
                    display: flex
                    align-items: center
                    justify-content: flex-start
                    margin-top: 10px
                    i
                        font-size: 25px
                        margin-right: 5px
                        color: #2FCFBC
                        padding: 0px
                    p
                        font: $Body-2
                        color: #2FCFBC
        .material-icons
            padding: 10px 5px 0px 5px
            color: $dark-blue
        &.show
            .toggle
                position: absolute
                top: -5px
                right: 0px
            &.inactive
                filter: saturate(0) opacity(0.6)
    &.select-horarios,&.search
        display: flex
        width: auto
        align-items: center
        .avatar
            height: 35px
            padding-left: calc( 5% + 10px )
            padding-right: 15px
            padding-top: 8px
            padding-bottom: 8px
            img
                width: 35px
                height: 35px
                border-radius: 50%
                background: radial-gradient(123.92% 129.39% at 57.54% 104.51%, #00A1C5 0%, #2FCFBC 100%)
        .card-content-padding
            width: 100%
            padding: 9px 0px 9px 0px
            p
                font: $Body-4
        &.patients
            .card-content-padding
                padding: 9px 9px 9px 0px
            .addr
                font: $text-2-card
    &.pagos
        width: auto
        --f7-card-margin-horizontal: 15px
        --f7-card-margin-vertical: 10px
        border: none
        .card-content
            padding: 3% 0% 3% 5%
            display: flex
            .name
                height: 40px
                overflow: hidden
                width: 33%
                padding-left: 12px
                padding-right: 12px
                padding-top: 3px
                font: $text-2-card
                font-weight: 600
                color: $dark-blue
            .cash
                margin: auto
                padding-right: 10px
                padding-left: 10px
                width: 33%
                p
                    margin: 0
                    text-align: center
                    &.money
                        font: $text-2-card
                        color: $turquoise-2
                        font-weight: 600
                        &.red
                            color: $red
                    &.no
                        font-family: Nunito
                        font-style: normal
                        font-weight: normal
                        font-size: 10px
                        line-height: 14px
                        color: $grey
            .concept
                margin: auto
                text-align: center
                padding-left: 10px
                padding-right: 30px
                width: 33%
                font: $text-2-card
                color: $light-blue
                font-weight: 600
                display: flex
                align-items: center
                i
                    font-size: 30px
                    color: $dark-blue
                    position: absolute
                    right: 10px
            hr
                margin: 5px 0px
        &.add
            --f7-card-margin-vertical: 36px
            .card-content
                align-items: center
                justify-content: space-between
                padding-left: calc( 5% + 14px )
                padding-right: 7px
                .data
                    flex-grow: 1
                    padding-left: 15px
                    padding-right: 7px
                    .text
                        line-height: 16px
                        color: $grey
                .turquoise
                    color: $turquoise-2
                .light-blue
                    color: $light-blue
                a
                    display: flex
        &.pend
            align-items: flex-start
            height: 115px
            --f7-card-margin-vertical: 20px
            .card-content
                height: 100%
                padding: 0px
                margin: 0% 0% 0% 5%
            .data
                color: $dark-blue
                flex-grow: 1
                padding-right: 3%
                .title
                    font: $Body-4
                    line-height: 20px
                .text,.date
                    font: $text-2-card
                .date
                    text-transform: uppercase
                    position: absolute
                    bottom: calc( 3% + 5px )
            i
                margin-left: 10px
                margin-right: 15px
                color: $turquoise-2
            i,.data
                padding-top: 3%
                padding-bottom: 3%
.card-backdrop
    z-index: 0
.card-expandable.card-opened .card-opened-fade-out
    opacity: 0 !important

.popover
    background: $white
    width: 242px
    p
        font: $Body-2
        font-weight: normal
        margin-block-start: 14px
        margin-block-end: 14px
    .block
        margin: 0%
        padding: 0%
    .list
        .row
            padding-left: 14px
            padding-right: 14px
            .edit-office,.edit-assistant
                width: 100%
                padding: 0px
                position: relative
                i
                    line-height: 20px
                    position: absolute
                    right: 0px
            .delete-office,.delete-assistant
                width: 100%
