.days-container
    padding-left: 5px
    padding-right: 5px
    flex-wrap: nowrap
    align-items: center
    .item-checkbox
        --f7-checkbox-icon-color: #fff
        --f7-checkbox-active-color: #2FCFBC
        --f7-checkbox-border-radius: 50%
        --f7-checkbox-size: 30px
        --f7-checkbox-inactive-color: rgba(47, 207, 188, 0.7)
        --f7-checkbox-extra-margin: 0px
        &.days
            padding-left: 0px
            text-align: center
        &.active-state
            color: $white
        .icon-checkbox
            display: flex
            justify-content: center
            align-items: center
            &.days
            font-size: 18px
            margin-right: 0px
            margin-left: 0px
            color: #2FCFBC
            &.checked
                color: $white
            &::after
                content: none
.paid
    .item-checkbox
        --f7-checkbox-icon-color: #fff
        --f7-checkbox-active-color: #2FCFBC
        --f7-checkbox-border-radius: 50%
        --f7-checkbox-size: 30px
        --f7-checkbox-inactive-color: rgba(47, 207, 188, 0.7)
        --f7-checkbox-extra-margin: 0px
        .icon-checkbox
            margin-right: 0px