#doctor-horarios
    padding-left: 10px
    padding-right: 10px
    .new_timetable
        display: flex
        align-items: center
        justify-content: flex-start
        padding-left: 26px
        margin-top: 5vh
        i
            font-size: 40px
            margin-right: 5px
            color: #2FCFBC
        p
            font: $Body-2
            color: #2FCFBC
            font-size: 18px
            font-weight: normal
    hr
        margin: 0px
        border: 1px solid #E5E9F2
        margin-left: 20px
    .list
        margin: 0px
        li
            margin-top: 17px
            margin-bottom: 17px
#doctor-horarios-add
    padding-left: 10px
    padding-right: 10px
    .list
        margin: 0px
        &.name
            margin-top: 8vh
        .card.add
            margin-top: 20px
    .item-input-wrap
        display: flex
        justify-content: space-evenly
        align-items: center
        i
            top: unset
            left: unset
            position: relative
        input
            width: 75%
    .btn
        justify-content: center
        margin-top: 50px
        a
            box-shadow: none
#doctor-horarios-select
    padding-left: 10px
    padding-right: 10px
    #inputs
        margin-top: 8vh
    .item-input-wrap
        display: flex
        justify-content: center
        input
            font: $title-2
            font-weight: 300
            color: $light-blue
        i
            color: $light-blue
    .item-label
        font: $Body-2
        color: $grey
    .new_asisstant
        display: flex
        align-items: center
        justify-content: flex-start
        padding-left: 15px
        i
            font-size: 30px
            margin-right: 5px
            color: #2FCFBC
        p
            font: $Body-2
            color: #2FCFBC
            font-size: 18px
            font-weight: normal
    hr
        margin: 0px
        border: 1px solid #E5E9F2
        margin-left: 15px
#doctor-horarios-edit
    padding-left: 10px
    padding-right: 10px
    padding-bottom: 10px
    .btn
        justify-content: center
        margin-top: 35px
        a
            box-shadow: none
    #cards
        margin-top: 8vh
#doctor-horarios-show
    padding-left: 10px
    padding-right: 10px
    padding-bottom: 10px
    .list#info
        margin-top: 50px