.header-blue,.header-white
    h1,p
        width: 100%
        text-align: left

.header-blue
    color: $dark-blue

.header-white
    color: $white

.header-turquoise
    background: radial-gradient(413.05px at 57.54% 104.51%, #00A1C5 0%, #2FCFBC 100%)
    height: 220px
    padding-top: 20px
    padding-left: 35px
    padding-right: 35px
    margin-left: -10px
    margin-right: -10px
    color: $white
    .list
        margin-top: 0px
    .btn-back
        left: 0px
    .btn-fab
        position: absolute
        bottom: -35px
        right: -5px
    @media screen and (max-width: 325px)
        .btn-fab
            bottom: -15px
    @media screen and (min-width: 527px)
        .btn-fab
            bottom: -53px
    h3
        margin-bottom: 0px
        margin-top: 35px
        margin-left: 10px
        font: $title-2
    p
        margin-top: 11px
        margin-left: 10px
        font: $Body-2
    &.photo
        p
            font: $title-2 !important
            position: absolute
            left: 10%
            font-weight: 600 !important
            line-height: 35px !important
            margin-top: 0px !important
        h4
            font: $footer-card
            font-size: 14px
            line-height: 17px
        &.nuevo-paciente
            .border
                position: inherit
                width: 110px
                height: 110px
                padding: 0px
                margin-left: auto
                margin-right: auto
                top: unset
                left: unset
                transform: unset
                border-radius: 50%
                border: 4px solid white
                background: unset
                box-shadow: 0px 2.59567px 19.4675px rgba(16, 43, 200, 0.2)
                .upload-photo
                    background: $back-color
                    width: 110px
                    height: 110px
                    border-radius: 50%
                    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%)
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                    .camera
                        width: 110px
                        height: 110px
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-56%, -55%)
                .avatar
                    width: 110px
                    height: 110px
                    margin-left: auto
                    margin-right: auto
                    border-radius: 50%
                    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%)
                    background-repeat: no-repeat
                    background-size: contain
                    background-position: 50% 50%
        &.personal-settings
            img
                display: block
                margin-left: auto
                margin-right: auto
                width: 110px
                height: 110px
                border: 4px solid white
                box-shadow: 0px 2.59567px 19.4675px rgba(16, 43, 200, 0.2)
                border-radius: 50%
    &.v2
        padding: 0px
        height: fit-content
        min-height: 220px
        .btn-back
            left: unset
        .title1
            margin-left: 0px
            position: relative
            left: unset   
        .item-inner    
            margin-top: auto
            display: flex
            justify-content: flex-end
            .fab
                position: relative
                bottom: unset
                right: unset
                margin-right: 20px
                transform: translateY(24px)
        &.flex
            display: flex
            flex-direction: column
            .title
                h3,p
                    padding: 0px 25px
                    margin: 11px 0px
.header
    .doc-horarios,.doc-horarios-add
        display: flex
        align-items: center
        justify-content: flex-start
        h1,.title1
            color: $dark-blue
        a
            margin-right: 5px
            i
                font-size: 35px
                line-height: 70px
                color: $dark-blue
    .doc-horarios-add
        a
            margin-right: -35px
        .title1
            font: $H1
            font-size: 24px
            line-height: 120%
            text-align: center
            margin-left: auto
            margin-right: auto
        &.show
            a
                margin-right: 0px
            .edit
                width: 35px
                display: flex
                justify-content: center
                line-height: 70px
                color: $dark-blue
    .pagos-home
        display: flex
        justify-content: center
        .title1
            color: $light-blue
            font: $H1
            line-height: 42px
            margin: 0px
            margin-top: 20px
            margin-bottom: 20px
        a
            box-shadow: -2px 2px 15px rgba(16, 43, 200, 0.2)
            height: 50px
            width: 50px
            margin-right: 0px !important
            i
                font-size: 25px !important
                color: $dark-blue
    &.turquoise
        width: 100%
        height: 50%
        position: fixed
        display: flex
        align-items: flex-start
        justify-content: center
        background: $turquoise-2
        .logo
            margin-top: 23px
            opacity: 0.5
            img
                margin-left: 5px
                margin-right: 5px
    .config
        display: flex
        align-items: center
        justify-content: flex-start
        a
            margin-right: -35px
            i
                font-size: 35px
                line-height: 70px
        .title1
            font: $H1
            font-size: 24px
            line-height: 120%
            text-align: center
            margin-left: auto
            margin-right: auto
            color: $light-blue
    &.schedule
        background: transparent
        padding-top: 10px
        .toolbar
            height: 65px
            background: inherit
            p
                line-height: 17px
                font-weight: 300
                font-size: 12px
                margin: 0px
                color: $grey
                &.num
                    font-size: 16px
                    line-height: 22px
            .tab-link
                width: 60px
                height: 60px
                &-highlight
                    display: none
                &-today
                    width: 60px
                    height: 60px
                    border-radius: 50%
                    border-color: $light-blue
                    border-width: 2px
                    border-style: solid
                    p
                        color: $light-blue
                &-active
                    width: 60px
                    height: 60px
                    border-radius: 50%
                    background: radial-gradient(91.08px at 57.54% 104.51%, #00A1C5 0%, #2FCFBC 100%)
                    p
                        color: $white
            .toolbar-inner
                height: fit-content
                padding-left: 15px
                padding-right: 15px
            &::after,&::before
                content: none
    .addPay,.search
        display: flex
        align-items: center
        justify-content: flex-start
        .title1
            color: $light-blue
            font: $H1
            font-size: 25px
            line-height: 34px
            text-align: center
            margin-left: auto
            margin-right: auto
        a
            margin-right: -35px
            i
                font-size: 35px
                line-height: 70px
                color: $dark-blue
        &.info
            padding-left: 10px
            padding-right: 10px
    &.success
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        height: 42vh
        a
            box-shadow: -2px 2px 15px rgba(16, 43, 200, 0.2)
            height: 50px
            width: 50px
            i
                margin-top: 0px
                font-size: 25px
                color: $grey
        i
            color: $white
            font-size: 90px
        .title
            margin: 0px
            font-family: Nunito
            font-style: normal
            font-weight: 600
            font-size: 36px
            line-height: 49px
            text-align: center
            color: $white
        .body
            margin: 0px
            font: $title-2
            font-weight: 600
            color: $white
    &.basic
        display: flex
        align-items: center
        a
            display: flex
            i
                font-size: 35px
                line-height: 70px
                color: $dark-blue
                margin-left: 15px
                &.white
                    color: $white
        .title1
            margin-top: 15px !important
            margin-bottom: 15px
            font: $H1 !important
            font-size: 24px !important
            text-align: center
            line-height: 120% !important
            color: $dark-blue
            &.light-blue
                color: $light-blue !important
            &.white
                color: $white
        &.center
            justify-content: space-between
            .edit
                display: flex
                i
                    margin-right: 0px
                &.none
                    visibility: hidden
        &.fixed
            width: 100%
