.landing
    .header
        
    .footer 
        display: flex
        align-items: center
        justify-content: space-between
        position: absolute
        height: 300px
        right: 0
        bottom: 0
        left: 0
        padding: 1rem
        background-color:#004F88
        .location,.home
            float: left
            margin: 50px
        .social
            display: flex
            margin: 50px
            .dot
                display: flex
                justify-content: center
                align-items: center
                font-size: 30px
                color: #004F88
                background: #1164A0
                border-radius: 50%
                width: 80px
                height: 80px
                margin: 50px
        h3,p
            color: #E5E9F2
