.landing
    background-color: #E5E5E5 !important
    background-image: url('../static/images/HOME.png'),url('../static/images/FOOTER.png') !important
    background-attachment: local, local !important
    background-repeat: no-repeat, no-repeat !important
    background-size: contain, 115% 55% !important
    background-position: left top, left bottom !important
    .parr1
        position: relative
        top: 200px
        left: 160px
        width: 450px
        h2
            font-family: Avenir-Medium
            font-size: 28px
            font-weight: 900
            line-height: 32px
            letter-spacing: 2px
            color: #029AF0
        p
            font-size: 18px !important
            line-height: 20px !important
            color: #029AF0
    .cell1
        position: relative
        top: 112px
        left: -10px
        display: flex
        button
            font-family: Avenir-Medium
            font-size: 17px
            line-height: 23px
            background-color: #FDBC5D
            position: relative
            left: -66px
            top: 351px
            width: 149px
            height: 48px
    .header
        overflow: hidden
        padding: 20px 50px
        a
            float: left
            color: black
            text-align: center
            padding: 12px
            text-decoration: none
            font-size: 16px
            line-height: 20px
            color: #88A8C9
            border-radius: 4px
            &.logo
                font-size: 25px
                font-weight: bold
        .header-right
            position: absolute
            right: 70px
            top: 30px
        @media screen and (max-width: 640px)
            a
                float: none
                display: block
                text-align: left
            .header-right
                float: none
                position: unset
.footer
    display: flex
    align-items: center
    justify-content: space-between
    height: 300px
    right: 0
    bottom: 0
    left: 0
    padding: 1rem
    background-color: #004F88
    .location,.home
        float: left
        margin: 50px
    .social
        display: flex
        margin: 50px
        .dot
            display: flex
            justify-content: center
            align-items: center
            font-size: 30px
            color: #004F88
            background: #1164A0
            border-radius: 50%
            width: 80px
            height: 80px
            margin: 50px
    h3,p
        color: #E5E9F2
