.menu
    --f7-tabbar-icon-size: 28px
    box-shadow: -2.56075px 2.56075px 19.2056px rgba(16, 43, 200, 0.2)
    .toolbar-inner
        .tab-link-highlight
            display: none
        a.tab-link
            padding-top: 12px
            padding-bottom: 12px
    .add-circle
        position: absolute
        z-index: 1500
        margin-bottom: 0px
        bottom: 0px
        left: 50%
        transform: translateX(-50%)
    &.toolbar-bottom::after
        display: none