.menu
    --f7-tabbar-icon-size: 31px
    box-shadow: -2px 2px 15px rgba(16, 43, 200, 0.2)
    --f7-toolbar-height: 64px
    .toolbar-inner
        .tab-link-highlight
            display: none
        a
            &.tab-link
                display: flex
                align-items: center
                justify-content: center
                padding: 0px
            &.tab-link-active
                img
                    box-shadow: 0 0 3pt 2pt #029AF0
        .profile
            img
                height: 35px
                width: 35px
                border-radius: 50%
                box-shadow: var(--f7-fab-box-shadow)
    .add-circle
        display: flex
        position: absolute
        bottom: 15px
        left: 50%
        transform: translateX(-50%)
        z-index: 1
        .back-white
            height: 50px
            width: 50px
            background: white
            position: absolute
            z-index: -1
            transform: translate(-50%, -50%)
            top: 50%
            left: 50%
            border-radius: 50%
    &.toolbar-bottom::after,&.toolbar-bottom::before
        display: none

.sheet-modal
    --f7-sheet-bg-color: #fff
    box-shadow: -2.56075px 2.56075px 19.2056px rgba(16, 43, 200, 0.2)
    .list
        margin: 50px 20px 20px 0px
        .item-link
            color: $dark-blue
    .close-sheet
        z-index: 50
        position: absolute
        top: -56px
        left: 50%
        transform: translateX(-50%)
    i
        margin-left: 5%
        margin-right: 5%
        text-align: center
        vertical-align: middle
        color: $dark-blue
    &:before,ul:before,ul:after,a:after
        content: none