.web-cam
    margin-left: auto
    margin-right: auto
    width: 200px
    height: 200px
    border-radius: 50%
    //border-color: $light-blue
    //border-width: 5px
    //border-style: solid
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%)
    background-image: url('/static/images/camera.svg')
    background-repeat: no-repeat
    background-size: contain
    background-position: 50% 50%

.photo-module
    .list.input-picker
        margin-top: 0px