.recovery-sent
    img
        display: block
        margin-left: auto
        margin-right: auto
        margin-top: 35%
        margin-bottom: 35%
.recovery-pass
    .inputs
        margin-top: 17% 