$white: #fff
$grey: #8492A6
$light-blue: #029AF0
$blue: #2F80ED
$turquoise: radial-gradient(174.25px at -10% 50%, #35E8D2 0%, #2FCFBC 100%)
$turquoise-2: #2FCFBC
$yellow: #FFD66D
$dark-blue: #004F88
$red: #EB5757
$back-color: radial-gradient(123.86% 123.86% at 0.47% 0.7%, #FCFCFF 13.26%, #EBEFF2 100%)
$back-color2: radial-gradient(1005.67px at 16.69% 17.13%, #FCFCFF 0%, #EBEFF2 100%)
$Body-1: 16px/36px 'Avenir-Medium'
$Body-2: 300 16px/22px 'Nunito'
$Body-3: 300 30px/41px 'Nunito'
$H1: 600 35px/70px 'Nunito'
$title-2: 700 20px/27px 'Nunito'
$title-card: 700 12px/16px 'Nunito'
$footer-card: 300 16px/22px 'Nunito'
$text-1-card: 18px/25px 'Nunito'
$text-2-card: 300 14px/19px 'Nunito'