\:root
    @import variables
    @import colors
    @import headers
    @import inputs
    @import buttons
    --f7-list-item-padding-horizontal: 25px
    --f7-list-item-min-height: 40px
    --f7-input-height: 40px
    --f7-font-family: 'Nunito'
    --f7-theme-color: #029AF0
    --f7-list-bg-color: transparent
    --f7-toggle-active-color: #2FCFBC
    .page
        margin: 0
        background: $back-color
        .page-content
            padding-left: 10px
            padding-right: 10px
            height: 100%
            background: transparent
            &.login-screen-content
                .login-screen-title
                    margin-top: 25%
                    img
                        height: 140px
                        width: 140px
            p
                font: $Body-1
            h1
                font: $H1
            h1,p
                line-height: 120%
                text-align: left
            &.center
                h1,p
                    text-align: center
                img
                    display: block
                    margin: 25% auto 0% auto
            &.btns
                height: calc(100% - 18%)
                @media screen and (max-height: 600px)
                    height: calc(100% - 70px)
        .list
            &.buttons
                background: transparent
                height: 70px
                margin: 0px
                .btn-rounded
                    position: absolute
                    right: 25px
                    &.center
                        left: 50%
                        transform: translate(-50%)
                .btn-simple
                    position: absolute
                    left: 35px
            &.no-mar
                margin: 0px
            ul::after,ul::before
                content: none
        .personal-settings
            .item-content
                i
                    position: absolute
                    top: 50%
                    right: 10px
                    transform: translate(50%, -50%)
        &#login,&.register-flow,&.recovery-flow,&.settings-edit,&.office-flow
            .page-content
                display: flex
                flex-direction: column
                .login-screen-title
                    margin: 0px auto
                    display: flex
                    justify-content: center
                    flex-grow: 1
                    align-items: flex-end
        &.office-flow
            .list.form
                margin: 25px 0
            .offices-add-form-schedule
                padding-bottom: 15px
    .back-blue
        background: radial-gradient(1128.21px at 57.54% 104.51%, #00A1C5 0%, #2FCFBC 100%)
@import variables
@import photoModule
@import recovery
@import intro
@import menu-bar
@import navbar
@import schedule
@import cards
@import checkbox
@import radio
@import assistants
@import panel
@import home
@import docHorarios
@import landing
@import popups
@import dialogs
@import pagos
@import confirm
@import search
@import patient

.ios
    --f7-toggle-height: 24px
    --f7-toggle-width: 48px
    --f7-input-invalid-border-color: #ff0000
    .item-input-invalid
        color: #ff0000
    .item-input-wrap::after,.item-inner::after
        content: none
    .item-input:not(.item-input-outline) .item-input-wrap:after
        content: '';
        position: absolute;
        background-color: var(--f7-list-item-border-color);
        display: block;
        z-index: 15;
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        transform-origin: 50% 100%;
        transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
    #schedule
        li.item-divider::before
            content: none
    #pagos-home
        .header
            .toolbar-inner
                .tab-link-active
                    border-bottom: 2px solid var(--f7-tabbar-link-active-border-color, var(--f7-theme-color))
            .styled-select
                select
                    font-size: 14px
                    @media screen and (max-width: 360px)
                        font-size: 11px
    .popover-pay
        .popover-angle
            display: none
    #doctor-agregar-pago-info
        .item-input-wrap
            margin: 0px
    #search-module
        .header
            input
                background: transparent
    .dialog
        border-radius: var(--f7-dialog-border-radius)
        background: var(--f7-dialog-bg-color)
        .dialog-buttons
            padding: 0px 20px
        .dialog-inner
            background: transparent
            &::after
                content: none
    input[type="radio"]:checked ~ .icon-radio
        &::after    
            color: $turquoise-2 
    .paciente-input-item
        .item-input-error-message
            position: absolute
            transform: translate(15px, 33px)
            top: unset
            left: unset
            margin-top: unset
            width: auto

.md
    .popover-menu
        bottom: 105px
        top: unset !important
        left: 50% !important
        transform: translate(-50%,0%) !important
    .paciente-input-item
        .input-clear-button
            &::before
                width: 48px
                height: 48px
                margin-left: -15px
                margin-top: -15px
                top: unset
                left: unset
        .item-input-error-message
            transform: translate(15px, 33px)
            top: unset
            left: unset
            margin-top: unset
            width: auto
        .item-input-with-error-message
            padding-bottom: 0px
            p.notes
                padding-top: 15px
        input[type="radio"]:checked ~ .icon-radio
            &::after
                background-color: $turquoise-2 