\:root
    @import variables
    @import colors
    @import headers
    @import inputs
    @import buttons
    --f7-list-item-padding-horizontal: 25px
    --f7-list-item-min-height: 40px
    --f7-input-height: 40px
    --f7-font-family: 'Nunito'
    --f7-theme-color: #029AF0
    --f7-list-bg-color: transparent
    --f7-toggle-active-color: #2FCFBC
    .page
        margin: 0
        background: $back-color
        .page-content
            padding-left: 10px
            padding-right: 10px
            height: 100%
            background: transparent
            &.login-screen-content
                .login-screen-title
                    margin-top: 25%
                    img
                        height: 140px
                        width: 140px
            p
                font: $Body-1
            h1
                font: $H1
            h1,p
                line-height: 120%
                text-align: left
            &.center
                h1,p
                    text-align: center
                img
                    display: block
                    margin: 25% auto 0% auto
            &.btns
                height: calc(100% - 18%)
                @media screen and (max-height: 600px)
                    height: calc(100% - 70px)
        .list
            &.buttons
                background: transparent
                height: 70px
                margin: 0px
                .btn-rounded
                    position: absolute
                    right: 25px
                    &.center
                        left: 50%
                        transform: translate(-50%)
                .btn-simple
                    position: absolute
                    left: 35px
            &.no-mar
                margin: 0px
            ul::after,ul::before
                content: none
        .personal-settings
            .item-content
                i
                    position: absolute
                    top: 50%
                    right: 10px
                    transform: translate(50%, -50%)
    .back-blue
        background: radial-gradient(1128.21px at 57.54% 104.51%, #00A1C5 0%, #2FCFBC 100%)
@import variables
@import photoModule
@import recovery
@import intro
@import menu-bar
@import navbar
@import schedule
@import cards
@import checkbox
@import radio
@import assistants
@import panel
@import home
@import landing
@import docHorarios
@import popups
@import dialogs
@import pagos
@import confirm

.ios
    --f7-toggle-height: 24px
    --f7-toggle-width: 48px
    --f7-input-invalid-border-color: #ff0000
    .page
        &:not(.schedule,.home)
            .page-content
                padding-top: 0px
        &.schedule
            .page-content
                padding-top: 160px
    .item-input-invalid
        color: #ff0000
.md
    .popover-menu
        left: 50% !important
        transform: translate(-50%,-112%) !important